In [13]:
# Importar librerías
import pandas as pd

In [14]:
# Lee el archivo CSV y lo almacena en un DataFrame de Pandas
df = pd.read_csv("../DataSet_Limpio/dataSet_limpio.csv")
df.head(3)

,id,title,original_title,overview,popularity,release_date,vote_average,vote_count,adult,imdb_id,...,production_countries,id_btc,name_btc,poster_btc,backdrop_btc,genero_id,genero_nombre,iso_639_1,name,release_year
0,862,Toy story,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,7.7,5415.0,True,tt0114709,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,16.0,Animation,en,English,1995
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,6.9,2413.0,True,tt0113497,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",NaN,NaN,NaN,NaN,35.0,Comedy,"en, fr","English, Français",1995
2,15602,Grumpier old men,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,6.5,92.0,True,tt0113228,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,10751.0,Family,en,English,1995

In [15]:
# Definir una función para calcular el retorno de inversión
def calcular_retorno(row):
    revenue = row['revenue']
    budget = row['budget']
    
    # Verificar si hay datos faltantes o el presupuesto es igual a cero
    if pd.isnull(revenue) or pd.isnull(budget) or budget == 0:
        return 0
    
    # Calcular el retorno de inversión y redondearlo a dos decimales
    return round(revenue / budget, 2)

# Aplicar la función a cada fila del DataFrame para crear la columna "return"
df['return'] = df.apply(calcular_retorno, axis=1)

In [16]:
df.head(3)

,id,title,original_title,overview,popularity,release_date,vote_average,vote_count,adult,imdb_id,...,id_btc,name_btc,poster_btc,backdrop_btc,genero_id,genero_nombre,iso_639_1,name,release_year,return
0,862,Toy story,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,7.7,5415.0,True,tt0114709,...,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,16.0,Animation,en,English,1995,12.45
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,6.9,2413.0,True,tt0113497,...,NaN,NaN,NaN,NaN,35.0,Comedy,"en, fr","English, Français",1995,4.04
2,15602,Grumpier old men,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,6.5,92.0,True,tt0113228,...,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,10751.0,Family,en,English,1995,0.00

In [17]:
# df.to_csv('../DataSet_Limpio/dataSet_limpio.csv', index=False)