In [1]:
# Importar librerías
import pandas as pd

In [3]:
# Lee el archivo CSV y lo almacena en un DataFrame de Pandas
df = pd.read_csv("../DataSet_Limpio/dataSet_limpio.csv")
df.head(3)

,id,title,original_title,overview,popularity,release_date,vote_average,vote_count,adult,imdb_id,...,production_companies,production_countries,id_btc,name_btc,poster_btc,backdrop_btc,genero_id,genero_nombre,iso_639_1,name
0,862,Toy story,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,7.7,5415.0,True,tt0114709,...,"[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg,16.0,Animation,en,English
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,6.9,2413.0,True,tt0113497,...,"[{""name"": ""TriStar Pictures"", ""id"": 559}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",NaN,NaN,NaN,NaN,35.0,Comedy,"en, fr","English, Français"
2,15602,Grumpier old men,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,6.5,92.0,True,tt0113228,...,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg,10751.0,Family,en,English

### Revision de Columna:

Los valores nulos del campo release date deben eliminarse

In [5]:
# Contar la cantidad de valores nulos en una columna específica
cantidad_nulos = df['release_date'].isnull().sum()

# Imprimir la cantidad de valores nulos
print("Cantidad de valores nulos en la columna 'release_date':", cantidad_nulos)

Cantidad de valores nulos en la columna 'release_date': 0