# Proceso de Desanidar Columna belongs_to_collection

La columna "belongs_to_collection" es eliminada despues de realizar la desanidacion

In [1]:
# Importar librerías
import pandas as pd
import json

In [2]:
# Lee el archivo CSV y lo almacena en un DataFrame de Pandas
df = pd.read_csv("../movie_collections.csv")
df.head()

,id,id_btc,name_btc,poster_btc,backdrop_btc
0,862,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,8844,NaN,NaN,NaN,NaN
2,15602,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,31357,NaN,NaN,NaN,NaN
4,11862,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            45433 non-null  int64
 1   id_btc        3166 non-null   float64
 2   name_btc      3166 non-null   object
 3   poster_btc    3166 non-null   object
 4   backdrop_btc  3166 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.7+ MB

### Transformacion 1

Columna *"belongs_to_collection"* se necesita *"desanidarla"*

In [ ]:
import pandas as pd
import json

def obtener_valor(diccionario, clave):
    """
    Verifica si el valor proporcionado es un diccionario válido o una cadena que representa un diccionario.
    Si es un diccionario válido, devuelve el valor correspondiente a la clave especificada;
    de lo contrario, devuelve None.

    Args:
        diccionario (dict or str): El diccionario o la cadena que representa un diccionario.
        clave (str): La clave cuyo valor se desea obtener.

    Returns:
        object: El valor correspondiente a la clave especificada o None si no se encuentra.

    """

    if pd.isnull(diccionario):
        return None
    if not isinstance(diccionario, dict):
        try:
            diccionario = json.loads(diccionario.replace("'", "\""))
        except (json.JSONDecodeError, AttributeError):
            return None
    if isinstance(diccionario, dict):
        return diccionario.get(clave)
    else:
        return None

# Aplicar la función a la columna "belongs_to_collection"
df['id_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'id'))
df['name_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'name'))
df['poster_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'poster_path'))
df['backdrop_btc'] = df['belongs_to_collection'].apply(lambda x: obtener_valor(x, 'backdrop_path'))

# Imprimir los valores obtenidos
result = df[['id_btc', 'name_btc', 'poster_btc', 'backdrop_btc']]

### Nota importante
### POSTERIOR A LA EJECUCION Y ACTUALIZACION DEL ARCHIVO, LA FUNCION NO FUNCIONARA PORQUE SE ELIMINO LA COLUMNA "belongs_to_collection"

In [ ]:
# # Elimino columna belongs_to_collection
# del df['belongs_to_collection']

In [5]:
# Mostrar las primeras filas del DataFrame
df.head()

,id,id_btc,name_btc,poster_btc,backdrop_btc
0,862,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,8844,NaN,NaN,NaN,NaN
2,15602,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,31357,NaN,NaN,NaN,NaN
4,11862,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [ ]:
# # Actualizando Archivo Existente Con los Nuevos Datos
# df.to_csv('../movie_collections.csv', index=False)