In [1]:
# Importar librerías
import pandas as pd
from pandas import json_normalize
import json
import numpy as np

In [2]:
# Lee el archivo CSV y lo almacena en un DataFrame de Pandas
df = pd.read_csv("../production.csv")
df.head()

,id,production_companies,production_countries
0,862,"[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
1,8844,"[{""name"": ""TriStar Pictures"", ""id"": 559}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
2,15602,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
3,31357,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
4,11862,"[{""name"": ""Sandollar Productions"", ""id"": 5842}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."

In [3]:
import json
import pandas as pd

def convertir_columna_diccionarios_a_dataframe(df, columna):
    """
    Convierte una columna que contiene diccionarios en un DataFrame separado.

    Args:
        df (pandas.DataFrame): DataFrame original.
        columna (str): Nombre de la columna que contiene los diccionarios.

    Returns:
        pandas.DataFrame: DataFrame resultante con los diccionarios separados en columnas.

    """
    def procesar_valor(valor):
        """
        Procesa el valor de una celda de la columna para convertirlo en una lista de diccionarios.

        Args:
            valor (str): Valor de la celda.

        Returns:
            list: Lista de diccionarios resultante.

        """
        try:
            diccionarios = json.loads(valor)
            return diccionarios
        except (json.JSONDecodeError, TypeError):
            return []

    # Obtener una lista de diccionarios a partir de los valores de la columna
    diccionarios = df[columna].apply(procesar_valor).tolist()

    # Filtrar y aplanar los diccionarios
    diccionarios_filtrados = [diccionario for diccionario in diccionarios if isinstance(diccionario, list)]
    diccionarios_flattened = [item for sublist in diccionarios_filtrados for item in sublist]

    # Crear el DataFrame resultante y seleccionar las columnas deseadas
    df_resultado = pd.DataFrame(diccionarios_flattened)
    df_resultado = df_resultado[['id', 'name']]

    return df_resultado

# Aplicar la función al DataFrame y obtener el DataFrame resultante
df_resultado = convertir_columna_diccionarios_a_dataframe(df, 'production_companies')

# Mostrar las primeras filas del DataFrame resultante
df_resultado.head()

      id                       name
0      3    Pixar Animation Studios
1    559           TriStar Pictures
2   2550               Teitler Film
3  10201  Interscope Communications
4   6194               Warner Bros.

In [4]:
def obtener_nombres(diccionarios):
    """
    Obtiene los nombres de una lista de diccionarios.

    Args:
        diccionarios (list): Lista de diccionarios.

    Returns:
        list: Lista de nombres obtenidos de los diccionarios.

    """
    nombres = []
    for diccionario in diccionarios:
        nombre = diccionario.get('name')
        nombres.append(nombre)
    return nombres

In [5]:
result = [{"name": "TriStar Pictures", "id": 559}, {"name": "Teitler Film", "id": 2550}, {"name": "Interscope Communications", "id": 10201}]
nombres = obtener_nombres(result)
print(nombres)

['TriStar Pictures', 'Teitler Film', 'Interscope Communications']

In [6]:
# # guardando solo dos columnas: production_companies	y production_countries para realizar pruebas
# # Obtener las primeras 100 filas de las dos columnas del dataframe
# subset_df = df[['production_countries']].head(100)

# # Guardar el subset en un archivo XLSX
# subset_df.to_excel('subset.xlsx', index=False)