In [83]:
# Importar librerías
import pandas as pd
import numpy as np
import json

In [84]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../movie_collections.csv")

### Listar las Columnas del DataSets

In [85]:
columnas_disponibles = df.columns.tolist()
print(columnas_disponibles)
print(len(columnas_disponibles))

['id', 'id_btc', 'name_btc', 'poster_btc', 'backdrop_btc']
5

In [86]:
# Imprime los primeros 3 registros del DataFrame
df.head(3)

,id,id_btc,name_btc,poster_btc,backdrop_btc
0,862,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,8844,NaN,NaN,NaN,NaN
2,15602,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg

### Verificar los tipo de datos que hay en cada columna

In [87]:
# Verificar el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

id                int64
id_btc          float64
name_btc         object
poster_btc       object
backdrop_btc     object
dtype: object

### Revision y conversion de los tipos de datos de la columna "id"

In [88]:
# Convertir los datos de la columna "id" a tipo int64
df["id"] = pd.to_numeric(df["id"], errors='coerce')

# Eliminar las filas con valores faltantes en la columna "id"
df = df.dropna(subset=["id"])

# Convertir los datos de la columna "id" a tipo int64
df["id"] = df["id"].astype(int)

# Verificar el tipo de datos en la columna "id" después de la conversión
tipo_datos_id = df["id"].dtypes
print("Tipo de datos en la columna 'id' después de la conversión:", tipo_datos_id)

# Imprimir la cantidad de datos en la columna "id"
cantidad_datos_id = len(df["id"])
print("Cantidad de datos en la columna 'id':", cantidad_datos_id)

Tipo de datos en la columna 'id' después de la conversión: int32
Cantidad de datos en la columna 'id': 45463

### Revision y conversion de los tipos de datos de la columna "id_btc"

In [89]:
# Convertir los datos de la columna "id_btc" a tipo float64
df["id_btc"] = pd.to_numeric(df["id_btc"], errors='coerce')

# Convertir los valores nulos a tipo int64
df["id_btc"] = df["id_btc"].astype("Int64")

# Verificar el tipo de datos en la columna "id_btc" después de la conversión
tipo_datos_id = df["id_btc"].dtypes
print("Tipo de datos en la columna 'id_btc' después de la conversión:", tipo_datos_id)

# Imprimir la cantidad de datos en la columna "id_btc"
cantidad_datos_id = len(df["id_btc"])
print("Cantidad de datos en la columna 'id_btc':", cantidad_datos_id)

Tipo de datos en la columna 'id_btc' después de la conversión: Int64
Cantidad de datos en la columna 'id_btc': 45463

In [90]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../movie_collections.csv"
# df.to_csv(ruta_archivo, index=False)