In [34]:
# Importar librerías
import pandas as pd
import numpy as np

In [35]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../production_countries.csv")

### Listar las Columnas del DataSets

In [36]:
columnas_disponibles = df.columns.tolist()
print(columnas_disponibles)
print(len(columnas_disponibles))

['id', 'country_iso_3166_1', 'country_name']
3

In [37]:
# Imprime los primeros 3 registros del DataFrame
df.head(3)

      id country_iso_3166_1              country_name
0    862                 US  United States of America
1   8844                 US  United States of America
2  15602                 US  United States of America

### Verificar los tipo de datos que hay en cada columna

In [38]:
# Verificar el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

id                     int64
country_iso_3166_1    object
country_name          object
dtype: object

In [39]:
# Verificar el tipo de datos de la columna "id"
is_int64 = df['id'].dtype == np.int64

if is_int64:
    print("Todos los valores de la columna 'id' son int64")
else:
    print("Algunos valores de la columna 'id' no son int64")

Todos los valores de la columna 'id' son int64

In [40]:
is_int64 = df['id'].apply(lambda x: isinstance(x, np.int64)).all()

if is_int64:
    print("Todos los valores de la columna 'id' son int64")
else:
    print("Algunos valores de la columna 'id' no son int64")

Algunos valores de la columna 'id' no son int64

In [41]:
# Convertir la columna 'id' a tipo numérico int64 y eliminar filas no convertibles
df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')
df = df.dropna(subset=['id'])

# Verificar si todas las filas de la columna 'id' son de tipo int64
if df['id'].dtype == np.int64:
    print("Todos los valores de la columna 'id' son int64")
else:
    print("Algunas filas fueron eliminadas y los valores restantes en la columna 'id' son int64")

Algunas filas fueron eliminadas y los valores restantes en la columna 'id' son int64

In [42]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../production_countries.csv"
# df.to_csv(ruta_archivo, index=False)