In [48]:
# Importar librerías
import pandas as pd
import numpy as np
import json

In [49]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../movie_genres.csv")

### Listar las Columnas del DataSets

In [50]:
columnas_disponibles = df.columns.tolist()
print(columnas_disponibles)
print(len(columnas_disponibles))

['id', 'genero_id', 'genero_nombre']
3

In [51]:
# Imprime los primeros 3 registros del DataFrame
df.head(3)

      id  genero_id genero_nombre
0    862       16.0     Animation
1   8844       35.0        Comedy
2  15602    10751.0        Family

### Verificar los tipo de datos que hay en cada columna

In [52]:
# Verificar el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

id                 int64
genero_id        float64
genero_nombre     object
dtype: object

### Revision y conversion de los tipos de datos de la columna "id"

In [53]:
# Convertir los datos de la columna "id" a tipo int64
df["id"] = pd.to_numeric(df["id"], errors='coerce')

# Eliminar las filas con valores faltantes en la columna "id"
df = df.dropna(subset=["id"])

# Convertir los datos de la columna "id" a tipo int64
df["id"] = df["id"].astype(int)

# Verificar el tipo de datos en la columna "id" después de la conversión
tipo_datos_id = df["id"].dtypes
print("Tipo de datos en la columna 'id' después de la conversión:", tipo_datos_id)

# Imprimir la cantidad de datos en la columna "id"
cantidad_datos_id = len(df["id"])
print("Cantidad de datos en la columna 'id':", cantidad_datos_id)

Tipo de datos en la columna 'id' después de la conversión: int32
Cantidad de datos en la columna 'id': 45433

In [54]:
# Verificar los valores únicos en la columna "id"
unique_ids = df['id'].unique()

# Verificar si hay valores no enteros en la columna "id"
non_integer_ids = [id for id in unique_ids if not isinstance(id, int)]

# Imprimir los valores no enteros encontrados
print("Valores no enteros en la columna 'id':", len(non_integer_ids))

Valores no enteros en la columna 'id': 45433

### Revision y conversion de los tipos de datos de la columna "genero_id"

In [55]:
# Convertir los datos de la columna "genero_id" a tipo float64
df["genero_id"] = pd.to_numeric(df["genero_id"], errors='coerce')

# Convertir los valores nulos o vacíos a tipo Int64
df["genero_id"] = df["genero_id"].fillna(pd.NA).astype("Int64")

# Verificar el tipo de datos en la columna "genero_id" después de la conversión
tipo_datos_genero_id = df["genero_id"].dtype
print("Tipo de datos en la columna 'genero_id' después de la conversión:", tipo_datos_genero_id)

# Imprimir la cantidad de datos en la columna "genero_id", incluyendo los valores nulos o vacíos
cantidad_datos_genero_id = df["genero_id"].size
print("Cantidad de datos en la columna 'genero_id':", cantidad_datos_genero_id)

Tipo de datos en la columna 'genero_id' después de la conversión: Int64
Cantidad de datos en la columna 'genero_id': 45433

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             45433 non-null  int32
 1   genero_id      44964 non-null  Int64
 2   genero_nombre  44964 non-null  object
dtypes: Int64(1), int32(1), object(1)
memory usage: 931.9+ KB

In [57]:
# Verificar el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

id                int32
genero_id         Int64
genero_nombre    object
dtype: object

In [58]:
# Imprime los primeros 3 registros del DataFrame
df.head(3)

      id  genero_id genero_nombre
0    862         16     Animation
1   8844         35        Comedy
2  15602      10751        Family

In [59]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../movie_genres.csv"
# df.to_csv(ruta_archivo, index=False)