In [125]:
# Importar librerías
import pandas as pd
import numpy as np
import json
import ast

In [126]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../spoken_languages.csv")

### Listar las Columnas del DataSets

In [127]:
columnas_disponibles = df.columns.tolist()
print(columnas_disponibles)
print(len(columnas_disponibles))

['id', 'iso_639_1', 'name']
3

In [128]:
# Imprime los primeros 3 registros del DataFrame
df.head(3)

      id iso_639_1               name
0    862        en            English
1   8844    en, fr  English, Français
2  15602        en            English

### Verificar los tipo de datos que hay en cada columna

In [129]:
# Verificar el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

id            int64
iso_639_1    object
name         object
dtype: object

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         45433 non-null  int64
 1   iso_639_1  45433 non-null  object
 2   name       45310 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [131]:
# # Reemplazar los valores nulos por "null"
# df["spoken_languages"] = df["spoken_languages"].fillna("null")

# # Eliminar las filas con valores nulos en la columna "production_companies"
# df = df.dropna(subset=["spoken_languages"])

In [132]:
# # Obtener los tipos de datos únicos en la columna "production_companies"
# unique_types = df['spoken_languages'].apply(type).unique()

# # Imprimir los tipos de datos únicos
# for data_type in unique_types:
#     print(data_type)

In [133]:
# tipo_datos_production_companies = df["spoken_languages"].dtypes
# print("Tipo de datos en la columna 'spoken_languages':", tipo_datos_production_companies)

In [134]:
def obtener_valor_spoken_languages(valor, clave):
    if pd.isnull(valor):
        return None
    if not isinstance(valor, list):
        try:
            valor = json.loads(valor.replace("'", "\""))
        except (json.JSONDecodeError, AttributeError):
            return None
    if isinstance(valor, list):
        valores = []
        for item in valor:
            if isinstance(item, dict):
                valor_actual = item.get(clave)
                if valor_actual is not None:
                    valores.append(valor_actual)
        return valores if valores else None
    else:
        return None

In [135]:
# df['iso_639_1'] = df['spoken_languages'].apply(lambda x: obtener_valor_spoken_languages(x, 'iso_639_1'))
# df['name'] = df['spoken_languages'].apply(lambda x: obtener_valor_spoken_languages(x, 'name'))

In [136]:
df[['iso_639_1', 'name']]

      iso_639_1               name
0            en            English
1        en, fr  English, Français
2            en            English
3            en            English
4            en            English
...         ...                ...
45428        fa              فارسی
45429        tl                NaN
45430        en            English
45431      None               None
45432        en            English

[45433 rows x 2 columns]

In [137]:
df[['iso_639_1', 'name']]

      iso_639_1               name
0            en            English
1        en, fr  English, Français
2            en            English
3            en            English
4            en            English
...         ...                ...
45428        fa              فارسی
45429        tl                NaN
45430        en            English
45431      None               None
45432        en            English

[45433 rows x 2 columns]

In [138]:
# columnas_a_eliminar = ["spoken_languages"]
# df = df.drop(columnas_a_eliminar, axis=1)

In [139]:
df["iso_639_1"] = df["iso_639_1"].astype(str)
df["name"] = df["name"].astype(str)

In [140]:
df["iso_639_1"] = df["iso_639_1"].str.replace(r"\[|\]|\''", "", regex=True)
df["name"] = df["name"].str.replace(r"\[|\]|\''", "", regex=True)

In [141]:
df["iso_639_1"] = df["iso_639_1"].str.replace("'", '')
df["name"] = df["name"].str.replace("'", '')

In [142]:
df.head()

      id iso_639_1               name
0    862        en            English
1   8844    en, fr  English, Français
2  15602        en            English
3  31357        en            English
4  11862        en            English

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         45433 non-null  int64
 1   iso_639_1  45433 non-null  object
 2   name       45433 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [144]:
# Verificar qué filas contienen el valor '1997-08-20 00:00:00' en alguna columna
filas_a_eliminar = df[df.astype(str).apply(lambda x: x.str.contains('2012-09-29 00:00:00')).any(axis=1)]

# Eliminar las filas que contienen el valor '1997-08-20 00:00:00'
df = df.drop(filas_a_eliminar.index)

# Verificar la cantidad de filas después de eliminar los valores no deseados
cantidad_filas = len(df)
print("Cantidad de filas después de eliminar los valores no deseados:", cantidad_filas)

Cantidad de filas después de eliminar los valores no deseados: 45433

In [145]:
df['id'] = df['id'].astype('int64')

In [146]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../spoken_languages.csv"
# df.to_csv(ruta_archivo, index=False)