### Eliminar valores repetidos en archivo movie_collections

In [1]:
# Importar librerías
import pandas as pd
import numpy as np

In [2]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../movie_collections.csv")

In [3]:
# Dimenciones del dataSet
df.shape

(45433, 5)

In [4]:
df.head(6)

,id,id_btc,name_btc,poster_btc,backdrop_btc
0,862,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,8844,NaN,NaN,NaN,NaN
2,15602,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,31357,NaN,NaN,NaN,NaN
4,11862,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
5,949,NaN,NaN,NaN,NaN

In [5]:
df_sin_duplicados = df.drop_duplicates()

In [6]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [7]:
df_sin_duplicados = df.drop_duplicates(subset=['id'])

In [8]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [9]:
duplicados = df[df.duplicated()]
ids_duplicados = duplicados["id"].tolist()
print(ids_duplicados)

[]

In [10]:
def eliminar_duplicados_por_id(df, lista_ids):
    """
    Elimina duplicados en un DataFrame basado en una lista de IDs.

    Args:
        df (pandas.DataFrame): DataFrame en el que se eliminarán los duplicados.
        lista_ids (list): Lista de IDs que se utilizarán como referencia para eliminar los duplicados.

    Returns:
        pandas.DataFrame: DataFrame resultante sin duplicados.

    """
    for id in lista_ids:
        df = df.drop_duplicates(subset='id', keep='first')
    return df

In [11]:
lista_ids = ids_duplicados # Reemplaza con los números de id que desees eliminar duplicados

df = eliminar_duplicados_por_id(df, lista_ids)

In [12]:
# Encuentra las filas duplicadas en el DataFrame
duplicados = df[df.duplicated()]

# Calcula la cantidad de veces que se repiten las filas duplicadas
cantidad_duplicados = duplicados.shape[0]

# Imprime la cantidad de filas duplicadas
print("Cantidad de filas duplicadas:", cantidad_duplicados)

Cantidad de filas duplicadas: 0

In [13]:
id_fila = 119916  # Reemplaza 123 con el ID de la fila que deseas ver

fila = df[df["id"] == id_fila]
fila

           id  id_btc name_btc poster_btc backdrop_btc
19881  119916     NaN      NaN        NaN          NaN

In [14]:
df.head(6)

,id,id_btc,name_btc,poster_btc,backdrop_btc
0,862,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,8844,NaN,NaN,NaN,NaN
2,15602,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,31357,NaN,NaN,NaN,NaN
4,11862,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
5,949,NaN,NaN,NaN,NaN

In [15]:
# Dimenciones del dataSet
df.shape

(45433, 5)

In [16]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../movie_collections.csv"
# df.to_csv(ruta_archivo, index=False)