In [1]:
# Importar librerías
import pandas as pd
import numpy as np

In [2]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../movie_details.csv")

In [3]:
# Dimenciones del dataSet
df.shape

(45433, 7)

In [4]:
# Observar primeras 6 filas
df.head(6)

,id,original_language,runtime,budget,revenue,homepage,tagline
0,862,en,81,30000000.0,373554033.0,http://toystory.disney.com/toy-story,NaN
1,8844,en,104,65000000.0,262797249.0,NaN,Roll the dice and unleash the excitement!
2,15602,en,101,0.0,0.0,NaN,Still Yelling. Still Fighting. Still Ready for...
3,31357,en,127,16000000.0,81452156.0,NaN,Friends are the people who let you be yourself...
4,11862,en,106,0.0,76578911.0,NaN,Just When His World Is Back To Normal... He's ...
5,949,en,170,60000000.0,187436818.0,NaN,A Los Angeles Crime Saga

In [5]:
# Eliminar duplicados y guardar en variable
df_sin_duplicados = df.drop_duplicates()

In [6]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [7]:
# Eliminar duplicados por el id (prueba segura)
df_sin_duplicados = df.drop_duplicates(subset=['id'])

In [8]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [9]:
# Verificar los duplicados. se colocan en una lista
duplicados = df[df.duplicated()]
ids_duplicados = duplicados["id"].tolist()
print(ids_duplicados)

[]

In [10]:
def eliminar_duplicados_por_id(df, lista_ids):
    """
    Elimina duplicados en un DataFrame basado en una lista de IDs.

    Args:
        df (pandas.DataFrame): DataFrame en el que se eliminarán los duplicados.
        lista_ids (list): Lista de IDs que se utilizarán como referencia para eliminar los duplicados.

    Returns:
        pandas.DataFrame: DataFrame resultante sin duplicados.

    """
    for id in lista_ids:
        df = df.drop_duplicates(subset='id', keep='first')
    return df

In [11]:
lista_ids = ids_duplicados # Reemplaza con los números de id que desees eliminar duplicados

df = eliminar_duplicados_por_id(df, lista_ids)

In [12]:
# Encuentra las filas duplicadas en el DataFrame
duplicados = df[df.duplicated()]

# Calcula la cantidad de veces que se repiten las filas duplicadas
cantidad_duplicados = duplicados.shape[0]

# Imprime la cantidad de filas duplicadas
print("Cantidad de filas duplicadas:", cantidad_duplicados)

Cantidad de filas duplicadas: 0

In [13]:
id_fila = 119916  # Reemplaza 123 con el ID de la fila que deseas ver

fila = df[df["id"] == id_fila]
fila

           id original_language  runtime  budget  revenue homepage tagline
19881  119916                en      123     0.0      0.0      NaN     NaN

In [14]:
# Dimenciones del dataSet
df.shape

(45433, 7)

In [16]:
# obtener la cantidad de datos no nulos en cada columna
columnas = df.columns
cantidad_de_datos = df.count()

for columna in columnas:
    print(f"Cantidad de datos en la columna {columna}: {cantidad_de_datos[columna]}")

Cantidad de datos en la columna id: 45433
Cantidad de datos en la columna original_language: 45422
Cantidad de datos en la columna runtime: 45433
Cantidad de datos en la columna budget: 45433
Cantidad de datos en la columna revenue: 45433
Cantidad de datos en la columna homepage: 7774
Cantidad de datos en la columna tagline: 20400

In [17]:
# incluir los valores nulos en el conteo de datos de cada columna
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45433 entries, 0 to 45432
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45433 non-null  int64
 1   original_language  45422 non-null  object
 2   runtime            45433 non-null  int64
 3   budget             45433 non-null  float64
 4   revenue            45433 non-null  float64
 5   homepage           7774 non-null   object
 6   tagline            20400 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 2.4+ MB

C:\Users\JORGE LUIS\AppData\Local\Temp\ipykernel_12768\1982639406.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(null_counts=True)

In [15]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../movie_details.csv"
# df.to_csv(ruta_archivo, index=False)