# Eliminar valores repetidos en archivo movies

In [30]:
# Importar librerías
import pandas as pd
import numpy as np

In [31]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../movies.csv")

In [32]:
# Dimenciones del dataSet
df.shape

(45346, 13)

In [33]:
df.head(3)

,id,title,original_title,overview,popularity,release_date,vote_average,vote_count,adult,imdb_id,poster_path,status,video
0,862,Toy story,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,7.7,5415.0,True,tt0114709,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Released,False
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,6.9,2413.0,True,tt0113497,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,Released,False
2,15602,Grumpier old men,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,6.5,92.0,True,tt0113228,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Released,False

In [34]:
columnas_capitalizar = ["title"]  # Reemplaza con los nombres de las columnas que deseas capitalizar

df[columnas_capitalizar] = df[columnas_capitalizar].apply(lambda x: x.str.capitalize())

In [35]:
df_sin_duplicados = df.drop_duplicates()

In [36]:
# Dimenciones del dataSet
df.shape

(45346, 13)

In [37]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [38]:
# especifica las columnas que se utilizarán para determinar si una fila es duplicada. En este caso, se considerará una fila duplicada si tanto el valor en la columna "id" como el valor en la columna "title" son iguales.
df_sin_duplicados = df.drop_duplicates(subset=['id', 'title'])

In [39]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [40]:
#  Lista con valores duplicados
duplicados = df[df.duplicated()]
ids_duplicados = duplicados["id"].tolist()
print(ids_duplicados)

[]

In [41]:
def eliminar_duplicados_por_id(df, lista_ids):
    """
    Elimina filas duplicadas en un DataFrame basado en una lista de IDs.

    Args:
        df (pandas.DataFrame): DataFrame en el que se eliminarán los duplicados.
        lista_ids (list): Lista de IDs que se utilizarán como referencia para eliminar los duplicados.

    Returns:
        pandas.DataFrame: DataFrame resultante sin duplicados.

    """
    for id in lista_ids:
        df = df.drop_duplicates(subset='id', keep='first')
    return df

In [42]:
lista_ids = ids_duplicados  # Reemplaza con los números de id que desees eliminar duplicados

df = eliminar_duplicados_por_id(df, lista_ids)

In [43]:
# Encuentra las filas duplicadas en el DataFrame
duplicados = df[df.duplicated()]

# Calcula la cantidad de veces que se repiten las filas duplicadas
cantidad_duplicados = duplicados.shape[0]

# Imprime la cantidad de filas duplicadas
print("Cantidad de filas duplicadas:", cantidad_duplicados)

Cantidad de filas duplicadas: 0

In [44]:
id_fila = 5511  # Reemplaza con el ID de la fila que deseas ver

fila = df[df["id"] == id_fila]
fila

,id,title,original_title,overview,popularity,release_date,vote_average,vote_count,adult,imdb_id,poster_path,status,video
7339,5511,Le samouraï,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,9.091288,1967-10-25,7.9,187.0,True,tt0062229,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,Released,False

In [45]:
# Dimenciones del dataSet
df.shape

(45346, 13)

In [46]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../movies.csv"
# df.to_csv(ruta_archivo, index=False)