# Eliminar valores repetidos en archivo production_countries

In [16]:
# Importar librerías
import pandas as pd
import numpy as np

In [17]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../production_countries.csv")

In [18]:
# Dimenciones del dataSet
df.shape

(49353, 3)

In [19]:
df.head(6)

      id country_iso_3166_1              country_name
0    862                 US  United States of America
1   8844                 US  United States of America
2  15602                 US  United States of America
3  31357                 US  United States of America
4  11862                 US  United States of America
5    949                 US  United States of America

In [20]:
df_sin_duplicados = df.drop_duplicates()

In [21]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [22]:
df_sin_duplicados = df.drop_duplicates(subset=['id'])

In [23]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [24]:
duplicados = df[df.duplicated()]
ids_duplicados = duplicados["id"].tolist()
print(ids_duplicados)

[]

In [25]:
def eliminar_duplicados_por_id(df, lista_ids):
    """
    Elimina filas duplicadas en un DataFrame basado en una lista de IDs.

    Args:
        df (pandas.DataFrame): DataFrame en el que se eliminarán los duplicados.
        lista_ids (list): Lista de IDs que se utilizarán como referencia para eliminar los duplicados.

    Returns:
        pandas.DataFrame: DataFrame resultante sin duplicados.

    """
    for id in lista_ids:
        df = df.drop_duplicates(subset='id', keep='first')
    return df

In [26]:
lista_ids = ids_duplicados # Reemplaza con los números de id que desees eliminar duplicados

df = eliminar_duplicados_por_id(df, lista_ids)

In [27]:
# Encuentra las filas duplicadas en el DataFrame
duplicados = df[df.duplicated()]

# Calcula la cantidad de veces que se repiten las filas duplicadas
cantidad_duplicados = duplicados.shape[0]

# Imprime la cantidad de filas duplicadas
print("Cantidad de filas duplicadas:", cantidad_duplicados)

Cantidad de filas duplicadas: 0

In [28]:
id_fila = 119916  # Reemplaza 123 con el ID de la fila que deseas ver

fila = df[df["id"] == id_fila]
fila

Empty DataFrame
Columns: [id, country_iso_3166_1, country_name]
Index: []

In [29]:
df.head(6)

      id country_iso_3166_1              country_name
0    862                 US  United States of America
1   8844                 US  United States of America
2  15602                 US  United States of America
3  31357                 US  United States of America
4  11862                 US  United States of America
5    949                 US  United States of America

In [30]:
# Dimenciones del dataSet
df.shape

(49353, 3)

In [31]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../production_countries.csv"
# df.to_csv(ruta_archivo, index=False)