# Eliminar valores repetidos en archivo production_companies

In [91]:
# Importar librerías
import pandas as pd
import numpy as np

In [92]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../production_companies.csv")

In [93]:
# Dimenciones del dataSet
df.shape

(68436, 3)

In [94]:
df.head(6)

      id  pc_id                    pc_name
0    862      3    Pixar Animation Studios
1   8844    559           TriStar Pictures
2   8844   2550               Teitler Film
3   8844  10201  Interscope Communications
4  15602   6194               Warner Bros.
5  15602  19464             Lancaster Gate

In [95]:
df_sin_duplicados = df.drop_duplicates()

In [96]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [97]:
df_sin_duplicados = df.drop_duplicates(subset=['id'])

In [98]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [99]:
duplicados = df[df.duplicated()]
ids_duplicados = duplicados["id"].tolist()
print(ids_duplicados)

[]

In [100]:
def eliminar_duplicados_por_id(df, lista_ids):
    """
    Elimina filas duplicadas en un DataFrame basado en una lista de IDs.

    Args:
        df (pandas.DataFrame): DataFrame en el que se eliminarán los duplicados.
        lista_ids (list): Lista de IDs que se utilizarán como referencia para eliminar los duplicados.

    Returns:
        pandas.DataFrame: DataFrame resultante sin duplicados.

    """
    for id in lista_ids:
        df = df.drop_duplicates(subset='id', keep='first')
    return df

In [101]:
lista_ids = ids_duplicados # Reemplaza con los números de id que desees eliminar duplicados

df = eliminar_duplicados_por_id(df, lista_ids)

In [102]:
# Encuentra las filas duplicadas en el DataFrame
duplicados = df[df.duplicated()]

# Calcula la cantidad de veces que se repiten las filas duplicadas
cantidad_duplicados = duplicados.shape[0]

# Imprime la cantidad de filas duplicadas
print("Cantidad de filas duplicadas:", cantidad_duplicados)

Cantidad de filas duplicadas: 0

In [103]:
id_fila = 119916  # Reemplaza 123 con el ID de la fila que deseas ver

fila = df[df["id"] == id_fila]
fila

Empty DataFrame
Columns: [id, pc_id, pc_name]
Index: []

In [104]:
df.head(6)

      id  pc_id                    pc_name
0    862      3    Pixar Animation Studios
1   8844    559           TriStar Pictures
2   8844   2550               Teitler Film
3   8844  10201  Interscope Communications
4  15602   6194               Warner Bros.
5  15602  19464             Lancaster Gate

In [105]:
# Dimenciones del dataSet
df.shape

(68436, 3)

In [106]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../production_companies.csv"
# df.to_csv(ruta_archivo, index=False)