# Eliminar valores repetidos en archivo spoken_languages

In [1]:
# Importar librerías
import pandas as pd
import numpy as np

In [2]:
# Lee el archivo CSV "movie_details.csv" donde se encuentran las columnas
df = pd.read_csv("../spoken_languages.csv")

In [3]:
# Dimenciones del dataSet
df.shape

(45436, 3)

In [4]:
df.head(6)

      id iso_639_1               name
0    862        en            English
1   8844    en, fr  English, Français
2  15602        en            English
3  31357        en            English
4  11862        en            English
5    949    en, es   English, Español

In [5]:
df_sin_duplicados = df.drop_duplicates()

In [6]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [7]:
df_sin_duplicados = df.drop_duplicates(subset=['id'])

In [8]:
# Contar el número de filas duplicadas en el DataFrame
num_filas_duplicadas = df.duplicated().sum()

# Imprimir el resultado
print("Número de filas duplicadas:", num_filas_duplicadas)

Número de filas duplicadas: 0

In [9]:
duplicados = df[df.duplicated()]
ids_duplicados = duplicados["id"].tolist()
print(ids_duplicados)

[]

In [10]:
def eliminar_duplicados_por_id(df, lista_ids):
    """
    Elimina filas duplicadas en un DataFrame basado en una lista de IDs.

    Args:
        df (pandas.DataFrame): DataFrame en el que se eliminarán los duplicados.
        lista_ids (list): Lista de IDs que se utilizarán como referencia para eliminar los duplicados.

    Returns:
        pandas.DataFrame: DataFrame resultante sin duplicados.

    """
    for id in lista_ids:
        df = df.drop_duplicates(subset='id', keep='first')
    return df

In [11]:
lista_ids = ids_duplicados # Reemplaza con los números de id que desees eliminar duplicados

df = eliminar_duplicados_por_id(df, lista_ids)

In [12]:
# Encuentra las filas duplicadas en el DataFrame
duplicados = df[df.duplicated()]

# Calcula la cantidad de veces que se repiten las filas duplicadas
cantidad_duplicados = duplicados.shape[0]

# Imprime la cantidad de filas duplicadas
print("Cantidad de filas duplicadas:", cantidad_duplicados)

Cantidad de filas duplicadas: 0

In [13]:
id_fila = 119916  # Reemplaza 123 con el ID de la fila que deseas ver

fila = df[df["id"] == id_fila]
fila

Empty DataFrame
Columns: [id, iso_639_1, name]
Index: []

In [14]:
df.head(6)

      id iso_639_1               name
0    862        en            English
1   8844    en, fr  English, Français
2  15602        en            English
3  31357        en            English
4  11862        en            English
5    949    en, es   English, Español

In [15]:
# Dimenciones del dataSet
df.shape

(45436, 3)

In [16]:
# # Guardar los cambios en el archivo CSV
# ruta_archivo = "../spoken_languages.csv"
# df.to_csv(ruta_archivo, index=False)