### Desanidar columna "production_countries"

In [31]:
# Importar librerías
import pandas as pd
import ast
import numpy as np

In [32]:
# Lee el archivo CSV y lo almacena en un DataFrame de Pandas
df = pd.read_csv("../../production.csv")
df.head()

,id,production_companies,production_countries
0,862,"[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
1,8844,"[{""name"": ""TriStar Pictures"", ""id"": 559}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
2,15602,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
3,31357,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."
4,11862,"[{""name"": ""Sandollar Productions"", ""id"": 5842}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o..."

In [33]:
# Verificar el tipo de datos de cada columna
tipos_de_datos = df.dtypes

# Mostrar los tipos de datos de cada columna
print(tipos_de_datos)

id                       int64
production_companies    object
production_countries    object
dtype: object

In [34]:
# Verificar el tipo de datos de la columna "id"
is_int64 = df['id'].dtype == np.int64

if is_int64:
    print("Todos los valores de la columna 'id' son int64")
else:
    print("Algunos valores de la columna 'id' no son int64")

Todos los valores de la columna 'id' son int64

In [35]:
# Verificar si todos los valores de la columna 'id' son int64
is_int64 = df['id'].apply(lambda x: isinstance(x, np.int64)).all()

if is_int64:
    print("Todos los valores de la columna 'id' son int64")
else:
    print("Algunos valores de la columna 'id' no son int64")

Algunos valores de la columna 'id' no son int64

In [36]:
# Convertir la columna 'id' a tipo numérico int64 y eliminar filas no convertibles
df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')
df = df.dropna(subset=['id'])

# Verificar si todas las filas de la columna 'id' son de tipo int64
if df['id'].dtype == np.int64:
    print("Todos los valores de la columna 'id' son int64")
else:
    print("Algunas filas fueron eliminadas y los valores restantes en la columna 'id' son int64")

Algunas filas fueron eliminadas y los valores restantes en la columna 'id' son int64

In [37]:
#  Guardar df en nueva variable
new_df = df[['id', 'production_countries']].copy()

In [38]:
# Mostrar las primeras filas del DataFrame
new_df.head()

      id                               production_countries
0    862  [{"iso_3166_1": "US", "name": "United States o...
1   8844  [{"iso_3166_1": "US", "name": "United States o...
2  15602  [{"iso_3166_1": "US", "name": "United States o...
3  31357  [{"iso_3166_1": "US", "name": "United States o...
4  11862  [{"iso_3166_1": "US", "name": "United States o...

In [40]:
import ast

# Función para convertir cadenas en listas de diccionarios
def parse_countries(x):
    """
    Convierte una cadena en una lista de diccionarios.

    Args:
        x (str): Cadena a convertir.

    Returns:
        list: Lista de diccionarios resultante.

    """
    try:
        return ast.literal_eval(x)
    except (SyntaxError, ValueError):
        return []

# Convertir las cadenas de texto en la columna "production_countries" en listas de diccionarios
df['production_countries'] = df['production_countries'].apply(parse_countries)

# Crear columnas 'pc_iso', 'pc_name' en new_df
new_df['id'] = df['id']
new_df['pc_iso'] = df['production_countries'].apply(lambda x: ', '.join(pc['iso_3166_1'] for pc in x))
new_df['pc_name'] = df['production_countries'].apply(lambda x: ', '.join(pc['name'] for pc in x))

In [41]:
# Mostrar las primeras filas del DataFrame
new_df.head()

,id,production_countries,pc_iso,pc_name
0,862,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,United States of America
1,8844,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,United States of America
2,15602,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,United States of America
3,31357,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,United States of America
4,11862,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",US,United States of America

In [42]:
# Eliminar columna "production_countries"
new_df = new_df.drop('production_countries', axis=1)

In [43]:
# Mostrar las primeras filas del DataFrame
new_df.head()

      id pc_iso                   pc_name
0    862     US  United States of America
1   8844     US  United States of America
2  15602     US  United States of America
3  31357     US  United States of America
4  11862     US  United States of America

In [44]:
# Dimenciones del df
new_df.shape

(45433, 3)

In [45]:
# # # Guardar el DataFrame en un nuevo archivo CSV llamado "production_companies.csv"
# new_df.to_csv('production_countries_result.csv', index=False)