In [1]:
# Importar librerías
import pandas as pd
import json

In [2]:
# Lee el archivo CSV y lo almacena en un DataFrame de Pandas
df = pd.read_csv("../Dataset/credits.csv")
df.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

### Ordenar Columnas

In [3]:
# Obtener las columnas actuales del DataFrame
columnas_actuales = df.columns.tolist()

# Definir el nuevo orden de las columnas
nuevo_orden = ['id', 'cast', 'crew']

# Reordenar las columnas del DataFrame
df = df[nuevo_orden]

In [4]:
df.head(3)

,id,cast,crew
0,862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [5]:
# Este código reemplazará todas las comillas simples por comillas dobles en la columna "cast" y "crew"
df['cast'] = df['cast'].str.replace("'", '"')

In [6]:
df['cast']

0        [{"cast_id": 14, "character": "Woody (voice)",...
1        [{"cast_id": 1, "character": "Alan Parrish", "...
2        [{"cast_id": 2, "character": "Max Goldman", "c...
3        [{"cast_id": 1, "character": "Savannah "Vannah...
4        [{"cast_id": 1, "character": "George Banks", "...
                               ...
45471    [{"cast_id": 0, "character": "", "credit_id": ...
45472    [{"cast_id": 1002, "character": "Sister Angela...
45473    [{"cast_id": 6, "character": "Emily Shaw", "cr...
45474    [{"cast_id": 2, "character": "", "credit_id": ...
45475                                                   []
Name: cast, Length: 45476, dtype: object

In [7]:
def load_json(json_string):
    try:
        json_data = json.loads(json_string)
    except json.JSONDecodeError as e:
        # Manejar el error en caso de que el formato JSON sea inválido
        print(f"Error al cargar JSON: {e}")
        return None
    
    return json_data

In [8]:
df.head(3)

,id,cast,crew
0,862,"[{""cast_id"": 14, ""character"": ""Woody (voice)"",...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,"[{""cast_id"": 1, ""character"": ""Alan Parrish"", ""...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,"[{""cast_id"": 2, ""character"": ""Max Goldman"", ""c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [9]:
df = df.drop('crew', axis=1)

In [10]:
df.head(3)

      id                                               cast
0    862  [{"cast_id": 14, "character": "Woody (voice)",...
1   8844  [{"cast_id": 1, "character": "Alan Parrish", "...
2  15602  [{"cast_id": 2, "character": "Max Goldman", "c...

In [11]:
df.shape

(45476, 2)

In [12]:
# # Guardar los cambios en el mismo archivo sobrescribiéndolo
# df.to_csv('cast_data.csv', index=False)

# df.to_excel('cast_data.xlsx', index=False)